
h1, h2, h3, h4, h5 {
    color: #00aeef;
}

a {
    color: #00aeef;
}

.gradient {
    background: linear-gradient(to right, #00aeef 0%,#ec008c 100%); /* W3C */
}



.left-menu li:before {
    color: #00aeef !important;
}
