@import url(http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic-ext);

body{
    font-family: 'Comfortaa', cursive;
    line-height: 2;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    color: #00aeef;
    font-size: 30px;
    padding-bottom: 24px;
    line-height: 1.2;
}

h2, .news-h2 {
    font-size: 22px;
    padding-bottom: 18px;
}

h3, .news-h3 {
    font-size: 18px;
    padding-bottom: 12px;
}

	
.news-h2 {
    padding-bottom: inherit;
}

a {
    text-decoration: none;
    border-bottom: 1px solid;
    color: #00aeef;
}

a:hover {
    border-bottom: none;
}

.gradient {
    position: relative;
    height: 45px;
    width: 100%;
    background: linear-gradient(to right, #00aeef 0%,#ec008c 100%); /* W3C */
}

.gradient.top {
    top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.gradient.top:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 23px;
    top: 0;
    background: linear-gradient(to top, rgba(255,255,255, 0.3) 0%, rgba(255,255,255, 0) 100%); /* W3C */
}

.gradient.bottom {
    position: absolute;
    bottom: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.top-menu {
    position: relative;
    display: table;
    bottom: 4px;
    margin: 0 auto;
    height: 100%;
    text-transform: uppercase;
}

.top-menu li {
    display: table-cell;
    padding: 5px 20px 0;
    font-size: 18px;
    vertical-align: middle;
}

.top-menu li:last-of-type {
    /*padding-right: 0;*/
}

.top-menu li a {
    color: #ffffff;
}



.logo {
    margin: 0 auto;
    padding: 28px 0 14px;
    height: 128px;
    text-align: center;
}

.logo a {
    border-bottom: none;
}


.content {
    position: relative;
}

.news-item {
    font-size: 12px;
    padding-bottom: 30px;
}

.news-title {
    font-size: 18px;
    line-height: 1.5;
}

.news-item span {
    display: block;
}


.left-menu {
    font-size: 24px;
    padding-top: 70px;
    padding-bottom: 30px;
}

.left-menu li:before {
    color: #00aeef;
    content: "\2014";
    padding-right: 7px;
}

.banners {
    /*position: absolute;*/
    /*bottom: 0;*/
}

.banners a {
    border-bottom: 0;
}

.banner-item {
    padding-bottom: 30px;
}


.text {
    line-height: 2;
    padding-bottom: 40px;
}

.text p {
    padding-bottom: 25px;
}

.text .date {
    padding: 0 0 10px 0;
}


.text ul li:before {
    content: "\2014";
    padding-right: 7px;
}

.text ol { 
   list-style-type: decimal; 
   list-style-position: inside; 
}

.gallery-teaser {
    padding-top: 20px;
    text-align: center;
}

.gallery-teaser .teaser {
    padding-top: 10px;
}

.sponsors {
    padding-top: 50px;
    clear: both;
    padding-bottom: 60px;
}

.sponsors ul {
    list-style: none;
}

.sponsors li {
    float: left;
}

.copyright {
    color: #ffffff;
    font-size: 18px;
    display: block;
    text-align: center;
    margin-top: 7px;
}


.left-column ul {
    padding-bottom: 30px;
}