
h1, h2, h3, h4, h5 {
    color: #ed145b;
}

a {
    color: #ed145b;
}

.gradient {
    background: linear-gradient(to right, #c600ff 0%,#ffb400 100%); /* W3C */
}



.left-menu li:before {
    color: #ed145b !important;
}
