
h1, h2, h3, h4, h5 {
    color: #51008e;
}

a {
    color: #51008e;
}

.gradient {
    background: linear-gradient(to right, #ff002a 0%,#01ddc5 100%); /* W3C */
}



.left-menu li:before {
    color: #51008e !important;
}
