html,
body {
    height: 100% /*прилепляем футер к низу*/
}
body {
    /*font-family: 'PT Sans', sans-serif;*/
    /*font-size: 12px;*/
    /*line-height: 18px;*/
}


.wrapper {
    display: table; /*прилепляем футер к низу*/
    height: 100%; /*прилепляем футер к низу*/
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}


.stretcher {
    display: table-row; /*прилепляем футер к низу*/
    height: 100%; /*прилепляем футер к низу*/
}


header {
    position: relative;
    height: 215px;
}


footer {
    position: relative;
    /*width: 100%;*/
    /*height: 100px;*/
}



.column {
    display: inline-block;
    vertical-align: top;
    /*overflow: hidden;*/
}

.left-column {
    padding: 0 25px 0 48px;
    width: 260px;
    height: 100%;
}

.right-column {
    width: 855px;
    padding: 25px 20px 0 25px;
}