
h1, h2, h3, h4, h5 {
    color: #60d700;
}

a {
    color: #60d700;
}

.gradient {
    background: linear-gradient(to right, #febe00 0%,#80e300 100%); /* W3C */
}



.left-menu li:before {
    color: #60d700 !important;
}
