.handle {
    cursor: move;
    z-index: 1;
}

.handle:hover {
    background-color: #ccc;
}

.handle input {
    z-index: 100;
}

.dnd {
    min-height: 20px;
}

.top-buffer {
    margin-top:20px;
}

.thumb-empty {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 43px;
    height: 43px;
    /*border: 1px solid #ccc;*/

}

.nav-pills-default > li.active > a,
.nav-pills-default > li.active > a:focus,
.nav-pills-default > li.active > a:hover {
    color: #333;
    background-color: #fff;
    border: 1px solid #adadad;
}


.text-block {
    width: 100%;
    padding: 10px;
    background: #fdfff2;
    border: 1px #ccc dashed;
}

.form-text {
    vertical-align: middle;
    display: inline-block;
    padding-top: 9px;
}




/*.dropdown-onhover:hover > .dropdown-menu {*/
    /*/!*display: block;*!/*/
    /*/!*margin-top: 0;*!/*/
/*}*/