.form-files-area.multiple {
  background: #fdfff2;
  border: 1px #ccc dashed;
  padding: 2px 0 0 0;
}

.form-file-field input[type=file] {
  display: none;
}

.form-thumb {
  background: #fff;
  position: relative;
  display: inline-block;
  margin: 4px;
  width: 100px;
  height: 100px;
}

.form-thumb.error {
  background: #ffebe8;
}

.file-button {
  cursor: pointer;
  color: #ccc;
  /*margin-right: 0;*/
}

.file-button.hide {
  display: none;
}

.file-button:hover {
  color: #000;
}

.form-thumb-cell {
  position: relative;
  display: table-cell;
  border: 1px #ccc solid;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}


.file-button .form-thumb-cell {
  border: 1px #ccc dashed;
}


.form-thumb-loader {
  position: absolute;
  background-color:rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.form-thumb-loader .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
}

.form-thumb img {
  max-width: 90px;
  max-height: 90px;
  padding: 2px;
}
.form-thumb-remove {
  position: absolute;
  top: -6px;
  right: -6px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #ccc;
  color: #ccc;
  z-index: 50;
}

.form-thumb-remove:hover {
  color: #000;
}